<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row mt-5">
    <div class="col">
        <div class="text-center header">
            <h1><span class="secondary">365</span> Fitness Tracker</h1>
            <h2>Current Week: <u>0</u></h2>
            <h5><u class="secondary">52</u> week's to go!</h5>
        </div>
    </div>
    <br>
  </div>
  <div class="row mt-3">
      <div class="col">
        <div class="text-center">
            <h1 class="secondary" id="thisweek">THIS WEEK</h1>
        </div>
        <div class="row mt-3 text-center">
          <div class="col day">
            <h3>M</h3>
            <button class="btn btn-primary mb-2">Workout</button>
            <button class="btn btn-success mb-2">Food</button>
          </div>
          <div class="col day">
            <h3>T</h3>
            <button class="btn btn-primary mb-2">Workout</button>
            <button class="btn btn-success mb-2">Food</button>
          </div>
          <div class="col day">
            <h3>W</h3>
            <button class="btn btn-primary mb-2">Workout</button>
            <button class="btn btn-success mb-2">Food</button>
          </div>
          <div class="col day">
            <h3>T</h3>
            <button class="btn btn-primary mb-2">Workout</button>
            <button class="btn btn-success mb-2">Food</button>
          </div>
          <div class="col day">
            <h3>F</h3>
            <button class="btn btn-primary mb-2">Workout</button>
            <button class="btn btn-success mb-2">Food</button>
          </div>
          <div class="col day">
            <h3>S</h3>
            <button class="btn btn-primary mb-2">Workout</button>
            <button class="btn btn-success mb-2">Food</button>
          </div>
          <div class="col day">
            <h3>S</h3>
            <button class="btn btn-primary mb-2">Workout</button>
            <button class="btn btn-success mb-2">Food</button>
          </div>
        </div>
      </div>
  </div>
</div>
