.header {
  font-family: Archive;
}

.secondary {
  color: #DE541E;
}

.day {
  background: #EAEAEA;
  border-radius: 5px;
  color: #223843;
  margin: 5px;
}

.btn-success, .btn-primary {
  width: 100%;
}
