<button class="btn btn-primary" [routerLink]="['/home/add', workout]">Crunches</button>
<button class="btn btn-primary">Bench press</button>
<button class="btn btn-primary">Dumbell flyes</button>
<button class="btn btn-primary">Lat pulldown</button>
<button class="btn btn-primary">Seated cable rows</button>
<button class="btn btn-primary">Dumbell shoulder press</button>
<button class="btn btn-primary">Barbell curl</button>
<button class="btn btn-primary">Triceps pushdown</button>
<button class="btn btn-primary">Barbell squat</button>
<button class="btn btn-primary">Leg Extension</button>
<button class="btn btn-primary">dumbell flyes</button>
